<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lkh.welldine.dao.HealthRecordDao">
<!-- 
	<select id="getUserById" resultType="bean.User">
        select * from test.users where id=#{id}
    </select>= -->
    <resultMap id="HealthRecord" type="cn.lkh.welldine.model.HealthRecord">
        <result column="healthInfoId" property="healthInfoId" />
        <result column="userId" property="userId" />
        <result column="weight" property="weight" />
        <result column="height" property="height" />
        <result column="gender" property="gender" />
        <result column="glu" property="glu" />
        <result column="symptoms" property="symptoms" />
        <result column="demand" property="demand" />
    </resultMap>

    <sql id="healthrecordAll">
        healthInfoId, userId, weight, height, gender, glu, symptoms,demand
    </sql>
    <select id="getHealthRecordByUserId" resultType="HealthRecord">
        select  
            <include refid="healthrecordAll"/>
        from healthrecord
        where
            userId=#{userId}
    </select>

</mapper>