<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.lkh.welldine.dao.UserDao">
    <sql id="userall">
                userId, username, password, gender, registerAddress, currentAddress, registerDate, loginDate
    </sql>
    <select id="getUserById" resultType="cn.lkh.welldine.model.User">
        select
        <include refid="userall"/>
        from user where userId=#{userId}
    </select>
</mapper>